body {
    margin: 0px;
}

.alcacruz {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alcacruz h1 {
    width: 184px;
    height: 53px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0.02em;
    color: #191919;
    margin: 20px 0px 0px 0px;
}

span {
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

/* invite-your-colleagues */

.invite-your-colleagues {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.invite-your-colleagues-img {
    width: 50%;
    height: 1024px;
    background-image: url('images/colleagues.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-frame {
    width: 80.2%;
    height: 618px;
    position: relative;
}

.frame-img-1 {
    position: absolute;
    left: 121px;
    top: 0px;
}

.frame-img-2 {
    position: absolute;
    z-index: 2;
    left: 361px;
    top: 201px;
}

.frame-img-3 {
    position: absolute;
    bottom: 0px;
    left: 217px;
}

.frame-img-4 {
    position: absolute;
    z-index: 2;
    bottom: 171px;
    left: 0px;
}

.left-arrow {
    position: absolute;
    left: 97px;
    bottom: 62px;
}

.right-arrow {
    position: absolute;
    top: 86px;
    left: 420px;
}

.invite-your-colleagues-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 300px;
}

.invite-your-colleagues-text h1 {
    width: 472px;
    height: 150px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #191919;
    margin: 0px;
}

.invite-your-colleagues-text p {
    width: 343px;
    height: 48px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #191919;
    opacity: 0.7;
    margin: 0px;
}

button {
    width: 344px;
    height: 48px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    box-shadow: 0px 8px 33px rgba(24, 24, 24, 0.1);
    border-radius: 28px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #191919;
}

/* watch-video */

.watch-video {
    background-color: #FFFFFF;
}

.navbar {
    width: auto;
    height: 80px;
    background: #F0FFFD;
    opacity: 0.8;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logotext-icon {
    width: 132px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotext-icon img {
    width: 40px;
    height: 40px;
}

.logotext-icon h1 {
    width: 84px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #191919;
    margin: 0px;
}

.timer {
    width: 230px;
    height: 40px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.timer p {
    width: 86px;
    height: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #191919;
    opacity: 0.8;
    margin: 0px;
}

.timer h1 {
    width: 95px;
    height: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #191919;
    margin: 0px;
}

.move-on {
    width: auto;
    height: auto;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 34px 0px 16px 0px;
}

.move-on-text {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.move-on-text h1 {
    width: 281px;
    height: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #191919;
    margin-left: 12px;
}

.Comment {
    width: 138px;
    height: 48px;
    cursor: pointer;
}

.rounds {
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 64px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}

.rounds p {
    width: 52px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #191919;
    opacity: 0.6;
    margin-right: 16px;
    cursor: pointer;
}

.selected {
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #00F5A0, #00D9F5);
    border-image-slice: 1;
    margin-right: 16px;
}

.selected p {
    margin: 0px;
}

.play-video {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: auto;
    position: relative;
}

.video-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-section img {
    max-width: 50%;
    height: 480px;
    z-index: 0;
    margin: -1px;
}

.h1tag{
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 40px;
}

.h1tag h1 {
    width: 87px;
    height: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #191919;
    margin-left: 12px;
}

.absolute {
    position: absolute;
    top: 45.5%;
    left: 47%;
}

.absolute img {
    width: 83px;
    height: 83px;
    z-index: 2;
    cursor: pointer;
}

.reatings {
    width: 140px;
    height: 18px;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    margin-top: 20px;
    justify-content: space-between;
}

.reatings-margin {
    width: 125px;
    height: 18px;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    margin-top: 20px;
    justify-content: space-between;
    margin: 8px 0px 0px;
}

.ratings-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratings-text img {
    width: 13.33px;
    height: 13.33px;
}

.ratings-text p {
    width: 43px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #191919;
    margin-left: 6px;
}

.Kingdom {
    width: 177px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #191919;
    padding: 0px 40px 0px;
    margin-bottom: 0px;
}

/* play video player */

.play-video-player {
    width: 100%;
    max-width: 1380px;
    height: auto;
    margin: auto;
}

.play-video-player img {
    max-width: 100%;
    height: 580px;
    margin: auto;
}

.play-video-button {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 0px 40px;
}

.vote-video {
    width: 102px;
    height: 40px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.padding {
    padding: 0px;
}

.vote-video img {
    width: 15px;
    height: 15px;
}

.vote-video p {
    width: 34px;
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #191919;
    margin-left: 7px;
}

.video-slider {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    max-width: 1384px;
    height: auto;
    margin: auto;
    justify-content: space-between;
}

.slider1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-cursor {
    position: absolute;
    left: -12px;
    top: 55%;
    cursor: pointer;
}

.right-cursor {
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: 55%;
}

.videoplaybutton {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 54%;
    left: 43%;
}

.ptag {
    width: 51px;
    height: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #191919;
    opacity: 0.8;
}

.hrline {
    width: auto;
    height: 0px;
    opacity: 0.1;
    border: 2px solid #191919;
    margin: 30px 0px;
}

#default{
    border-radius: 12px 0px 0px 0px;
}